node_modules/
src/
example/
tests/
dist
.vscode/
.editorconfig
webpack.*.js
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.stylelintrc.json
.stylelintignore
.npmrc
.prettierrc
.prettierignore
.npmignore
jsdoc.json
tpl.html
.ghconfigrc.js
