@import '~amos-framework/dist/amosframework.css';

$top-height: 56px;
$theme-color: #345fa6;

.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
