$top-height: 56px;
$theme-color: #345fa6;

.view-port {
  width: 100%;
  height: 100%;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $top-height;
    line-height: 4rem;
    color: white;
    background: $theme-color;

    .amos-dropnav {
      font-size: 20px;

      .amos-dropnav-item > a {
        color: white;
      }

      .amos-dropnav-item.amos-dropnav-sub-triger > a::after {
        color: white;
      }

      .amos-dropnav-sub {
        font-size: 12px;
        color: black;

        .amos-dropnav-item > a {
          color: black;
        }
      }
    }
  }

  .content-body {
    position: absolute;
    top: $top-height;
    left: 0;
    width: 100%;
    height: calc(100% - #{$top-height});
  }
}
